[defaults]
inventory = hosts
interpreter_python = ~/.pyenv/shims/python

host_key_checking = False
nocows = 0
pipelining = True
gathering = smart
fact_caching_timeout = 86400
# JSON file implementation
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
forks = 5
hash_behaviour=merge
deprecation_warnings=False

[ssh_connection]
retries=2
ssh_args = -o 'StrictHostKeyChecking=no' -o ControlMaster=auto -o ControlPersist=60s
control_path = ~/.ssh/ansible-%%r@%%h:%%p
pipelining = True
